<% include ../partials/header %>

<!-- Home Page -->

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to DreamCamp</h1>
			<p>A Database of Campgrounds That Feel Like a Dream</p>
			<p></p>
			<h3>
				Do You Know the Perfect Camping Spot?
			</h3>
			<p>
				<a class="btn btn-primary btn-lg btn-unique" href="/campgrounds/new">Add a New Campground</a>
			</p>
		</div>
	</header>
	
	<div class="row flex-row text-center display-flex" style="display:flex; flex-wrap: wrap;">
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-lg-4 col-md-6 col-xs-12 thumb-display">
				<div class="thumbnail thumbnail-resize">
					<img class="img-fluid img-resize" src="<%= campground.image %>">
					<div class="caption">
						<h4><%= campground.name %></h4>
					</div>
					<p>
						<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary btn-list-2">More Info</a>
					</p>
				</div>
			</div>
		<% }); %>
		</div>	
</div>

<% include ../partials/footer %>